# gradle
.gradle/

# ignore eclipse conf
.classpath
.project
.settings/

# ignore intellij conf
*.iml
.idea/
src/test/


# build artefacts
out/
bin/
build/

# Ignore Gradle GUI config
gradle-app.setting

gradlew

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

gradle/wrapper/gradle-wrapper.properties

# zip files #
*.zip
*.tar.gz
*.rar